/* General-----------------------------*/
/* body{background: red;} */

/* header-----------------------------*/



/* footer-----------------------------*/
.footer {
    margin-bottom: 0rem;
    background: black;
    color: blanchedalmond;
}




/* content------------------------------*/